{% extends "base.html" %}

{% block content %}

 <div class="row">
      <div class="span4 offset4 well">
          <legend>Вход в систему</legend>

          <div class="alert alert-danger"> Ошибка при входе! </div>

          <form role="form" method="POST" action="">

            <div class="form-group">
              <input type="text" id="username" class="form-control" name="username" placeholder="Логин">
            </div>
            <div class="form-group">
              <input type="password" id="password" class="form-control" name="password" placeholder="Пароль">
            </div>

            <button type="submit" name="submit" class="btn btn-success">Войти</button>
          </form>
      </div>
  </div>

{% endblock %}
