<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <title>Android SMS Hive</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <link rel="stylesheet" href="{{ STATIC_URL }}styles/main.css"/>
  </head>

  <body ng-app="etcApp">

        {% include "external.html" %}

        {% block header %}{% endblock %}

        {% block content %}{% endblock %}

        {% block footer %}
        <div class="footer">
          <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
        </div>
        {% endblock %}

        {% block javascript %}
        <!--[if lt IE 9]>
        <script src="bower_components/es5-shim/es5-shim.js"></script>
        <script src="bower_components/json3/lib/json3.min.js"></script>
        <![endif]-->
        <script src="{{ STATIC_URL}}scripts/vendor.js"></script>
        <script src="{{ STATIC_URL}}scripts/scripts.js"></script>
        {% endblock %}

</body>
</html>
