      <div class="header">
        <ul class="nav nav-pills pull-right">
          {% url 'index' as url %}
          <li {% if request.path == url %} class="active" {% endif %}%>
            <a href="{{ url }}">Заглавная</a>
          </li>

          {% url 'grunts' as url %}
          <li {% if request.path == url %} class="active" {% endif %}%>
            <a href="{{ url }}">Устройства</a>
          </li>

          {% url 'info' as url %}
          <li {% if request.path == url %} class="active" {% endif %}%>
            <a href="{{ url }}">Информация</a>
          </li>

        </ul>
        <h3 class="text-muted">SMS Hive</h3>
      </div>
